---
AWSTemplateFormatVersion: '2010-09-09'

Parameters:

  CodeCommitSourceRepo:
    Type: String
    Default: ''

  CodeCommitSourceBranch:
    Type: String
    Default: ''

  CostTagKey:
    Type: String
    Default: ''

  CostTagValue:
    Type: String
    Default: ''

Resources:

  ContainerProfilesRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${AWS::Region}-${CostTagValue}-container-profiles-role
      AssumeRolePolicyDocument:
        Statement:
          Effect: Allow
          Principal:
            Service: 
              - cloudformation.amazonaws.com
              - codebuild.amazonaws.com
              - codepipeline.amazonaws.com
          Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AdministratorAccess

  {%- for profile in profiles  %}

  Repository{{ profile }}:
    Type: AWS::ECR::Repository
    Properties:
      RepositoryName: !Sub "${CostTagValue}-container/{{ profile }}"
      Tags:
        - Key: !Sub ${CostTagKey}
          Value: !Sub ${CostTagValue}

  {% endfor -%}

  ProfileContainerCodeBuild:
    Type: AWS::CodeBuild::Project
    Properties:
      Name: !Sub ${CostTagValue}-profile-containers
      Artifacts:
        Type: CODEPIPELINE
      Environment:
        Type: LINUX_CONTAINER
        Image: aws/codebuild/standard:5.0
        ComputeType: BUILD_GENERAL1_SMALL
        PrivilegedMode: true
      ServiceRole: !GetAtt ContainerPipelineRole.Arn
      Tags:
        - Key: !Sub ${CostTagKey}
          Value: !Sub ${CostTagValue}
      Source:
        Type: CODEPIPELINE
        BuildSpec: !Sub |
          version: 0.2

          env:
            git-credential-helper: yes
            shell: bash
            secrets-manager:
              DH_CREDS: "dockerhub/creds"

          phases:
            install:
              runtime-versions:
                python: 3.9
              commands:
              - apt update
              - apt install -y python3-pip
            build:
              commands:
              - aws ecr get-login-password --region ${AWS::Region}
                | docker login --username AWS --password-stdin ${AWS::AccountId}.dkr.ecr.${AWS::Region}.amazonaws.com
                | sed 's|https://||'
              - echo "Logging into Docker Hub user...";
                dh_username=$(echo $DH_CREDS | cut -f1 -d' ');
                echo $DH_CREDS | cut -f2 -d' ' > dh.pass;
                cat dh.pass | docker login -u $dh_username --password-stdin;
              - cd profiles/$PROFILE_NAME
              - bash build.sh

  Pipeline:
    Type: AWS::CodePipeline::Pipeline
    Properties: 
      ArtifactStore: 
        Type: S3
        Location: !Ref PipelineBucket
      Name: !Sub ${CostTagValue}-Profiles-Pipeline
      RestartExecutionOnUpdate: False
      RoleArn: !GetAtt ContainerPipelineRole.Arn
      Tags: 
        - Key: !Sub ${CostTagKey}
          Value: !Sub ${CostTagValue}
      Stages:

        - Name: !Sub ${CostTagValue}-Source
          Actions:
            - Name: Source
              RunOrder: 1
              ActionTypeId:
                Category: Source
                Owner: AWS
                Provider: CodeCommit
                Version: "1"
              Configuration:
                BranchName: !Sub ${CodeCommitSourceBranch}
                OutputArtifactFormat: CODEBUILD_CLONE_REF
                PollForSourceChanges: "false"
                RepositoryName: !Sub ${CodeCommitSourceRepo}
              OutputArtifacts:
                - Name: SourceArtifact
              Region: !Sub ${AWS::Region}
              Namespace: SourceVariables

        - Name: !Sub ${CostTagValue}-PreBuild
          Actions:
            - Name: PreBuild
              RunOrder: 1
              ActionTypeId:
                Category: Build
                Owner: AWS
                Provider: CodeBuild
                Version: "1"
              Configuration:
                ProjectName: !Ref PreBuildCodeBuild
              InputArtifacts:
                - Name: SourceArtifact
              OutputArtifacts:
                - Name: PreBuildArtifacts
              Region: !Sub ${AWS::Region}

        - Name: !Sub ${CostTagValue}-Build-Profiles
          Actions:
            {%- for profile in profiles  %}
            - Name: profile-{{ profile }}
              RunOrder: 1
              ActionTypeId:
                Category: Build
                Owner: AWS
                Provider: CodeBuild
                Version: "1"
              Configuration:
                ProjectName: !Ref ProfileContainerCodeBuild
                EnvironmentVariables: !Sub |
                  [
                     {
                        "value": "${AWS::AccountId}.dkr.ecr.${AWS::Region}.amazonaws.com/${CostTagValue}-container",
                        "name": "DOCKER_REGISTRY",
                        "type": "PLAINTEXT"
                     },
                     {
                        "value": "{{ profile }}",
                        "name": "PROFILE_NAME",
                        "type": "PLAINTEXT"
                     },
                     {
                        "value": "latest",
                        "name": "PROFILE_MATURITY",
                        "type": "PLAINTEXT"
                     },
                     {
                        "value": "true",
                        "name": "STAGE_FORCE_BUILD",
                        "type": "PLAINTEXT"
                     }
                  ]
              InputArtifacts:
                - Name: PreBuildArtifacts
              OutputArtifacts: []
              Region: !Sub ${AWS::Region}
            
            {% endfor -%}
